*{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px 10%;
    background: rgb(255, 255, 255,0.3);
    
}
.logo h1{
    color: rgb(255, 100, 123);
}
.nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.nav a:hover{
    background-color:lightpink ;
    
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
}
.profile{
    width: 260px;
    margin: 0 auto 20px;
    position: absolute;
    top: 3px;
    left: 50px;
}
.profile img{
    display: block;
    width: 40px;
    height: 50px;
    position: fixed;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid palevioletred;

}
.foot{
	width: 100%;
	background-color: palevioletred;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #FFF;
    margin-top: 246px;
}
#div {
    font-size: 18px;
    color: #333;
    margin-top: -700px;
    text-align: center;
    margin-left: 800px;
}

ul,
        ol {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
 
        #main {
            width: 600px;
            height: 350px;
            margin-left: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -600px;
            position: relative;
        }
 
        #display {
            width: 600px;
            height: 350px;
            overflow: hidden;
            position: relative;

        }
 
        #display ul {
            position: relative;
            left: 0;
            top: 0px;
            width: 3600px;
            height: 350px;
            transition: left 500ms linear;
        }
 
        #list li {
            float: left;
            width: 600px;
            height: 350px;
        }
 
        #arrow {
            display: none;
        }
 
        #arrow span {
            position: absolute;
            width: 40px;
            height: 40px;
            line-height: 40px;
            left: 5px;
            top: 50%;
            margin-top: -20px;
            background: #000;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            font-family: 黑体, SimHei;
            font-size: 30px;
            color: #fff;
            opacity: 0.4;
            border: 1px solid #fff;
        }
 
        #arrow span:hover {
            opacity: 0.7;
        }
 
        #arrow #right {
            right: 5px;
            left: auto;
        }
 
        #index_container {
            position: absolute;
            width: 210px;
            height: 30px;
            right: 20px;
            bottom: 20px;
        }
 
        #index_container .index {
            float: left;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            opacity: 0.8;
            background: #fff;
            border: 1px solid #ccc;
            margin-left: 10px;
            cursor: pointer;

        }
 
        #index_container .current {
            background: #ec3d3d;
        }
        /* 示例媒体查询，调整样式以适应不同的屏幕宽度 */
@media screen and (max-width: 768px) {
    /* 在小于768px的屏幕上应用的样式 */
}

@media screen and (max-width: 480px) {
    /* 在小于480px的屏幕上应用的样式 */
}
