*{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px 10%;
    background: rgb(255, 255, 255,0.3);
    
}
.logo h1{
    color: rgb(255, 100, 123);
}
.nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.nav a:hover{
    background-color:lightpink ;
    
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
}
.profile{
    width: 260px;
    margin: 0 auto 20px;
    position: absolute;
    top: 3px;
    left: 50px;
}
.profile img{
    display: block;
    width: 40px;
    height: 50px;
    position: fixed;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid palevioletred;

}
.foot{
	width: 100%;
	background-color: palevioletred;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #FFF;
}
